html {
    font-size: 100%;
    box-sizing: border-box; 
}

* {
    box-sizing: inherit;
}

body {
    background: #B3DFE3;
    text-align: center; 
    justify-content: center;
    margin: 50px; 
    padding: 70px;

}

p { 
    padding: 0;
    line-height: 30px;
    align-items: center; 
    justify-content: center;
    margin: 20px; 
    width: 800px; 
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px;
}

#container2 {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin: 50px; 
    padding: 50px; 
}

